@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Sen:wght@400;700&display=swap');
/* font-family: 'Inter', sans-serif;
font-family: 'Sen', sans-serif; */
:root {
    --dark-green: #043343;
    --light-green: #33eece;
    --gray: #a9bdc6;
}

body {
    background: var(--dark-green);
}



.logo {
    margin: 6rem 0 0 30rem;
}

.title {
    font-size: 8rem;
    color: var(--light-green);
    font-family: 'Sen', sans-serif;
    margin: 5rem 0 0 20rem;
    position: relative;

    letter-spacing: .2rem;
}

.special {
    z-index: 0;
}

main {
    margin-left: 10rem;
}

p {
    color: var(--gray);
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
}

.info {
    width: 400px;
    margin: 1rem 0 0 20rem;
    font-size: 1.3rem;
}

button {
    background-color: var(--light-green);
    color: var(--dark-green);
    border: none;
    font-size: 1.3rem;
    font-family: 'Sen' sans-serif;
    margin: 1.2rem 0 0 20rem;
    padding: 1.2rem 1rem;
    border-radius: 10px;
    font-weight: 700;
}

.twitter {
    display: flex;
    align-items: center;
    margin: 1rem 0 0 20rem;
}

.twitter p {
    margin-left: 1rem;
}

.user1 {
    position: relative;
    left: 85rem;
    bottom: 28rem;
    z-index: 0;
    width: 100px;
}

.user2 {
    position: relative;
    left: 75rem;
    bottom: 43rem;
}

.user3 {
    position: relative;
    bottom: 42rem;
    left: 6rem;
    z-index: 0;
}

.user4 {
    position: relative;
    left: 45rem;
    bottom: 10rem;
    width: 200px;
}

.user5 {
    position: relative;
    bottom: 40rem;
    left: 33rem;
    z-index: 0;
}


.user6 {
    position: relative;
    bottom: 22rem;
    left: 15rem;
    z-index: 1;
}

span {
    position: relative;
    z-index: 2;
}

@media screen and (max-width: 768px) {

    body {
        overflow-y: hidden;
    }

    main {
        margin-left: 0;
    }

    .logo {
        margin: 3rem 0 2rem 3rem;
    }

    .title {
        font-size: 5.5rem;
        margin: 10rem 0 0 3rem;
    }

    .special {
        z-index: 1;
    }

    .info {
        margin: 1rem 0 0 3rem;
    }

    button {
        margin: 1.2rem 0 0 3rem;
    }
    
    .twitter {
        margin: 10rem 0 0 3rem;
    }

    .user1 {
        left: 38rem;
        bottom: 42rem;
    }

    .user2 {
        left: 28rem;
        bottom: 52rem;
        width: 160px;
    }

    .user3 {
        width: 120px;
        bottom: 50rem;
        left: -13rem;
    }

    .user4 {
        left: 5rem;
        bottom: 13rem;
        width: 210px;
    }

    .user5 {
        left: -10rem;
        bottom: 45rem;
        z-index: 0;
    }

    .user6 {
        width: 120px;
        bottom: 39rem;
        left: 30rem;
    }
}

@media screen and (max-width: 375px) {
    .user1, .user4, .user5 {
        display: none;
    }

    .logo {
        margin: 2rem 0 4rem 1rem;
    }

    .title {
        font-size: 3rem;
        margin: 10rem 0 0 1rem;
        letter-spacing: 0;
    }

    .info {
        margin: 1rem 0 0 1rem;
        width: 300px;
    }

    button {
        margin: 1.2rem 0 0 1rem;
        border-radius: 5px;
        position: relative;
        z-index: 1;
    }

    .twitter {
        margin: 12rem 0 0 1rem;
    }

    .user2 {
        left: 12rem;
        bottom: 41rem;
        width: 160px;
    }
    
    .user3 {
        width: 100px;
        bottom: 43rem;
        left: -7rem;
    }

    .user6 {
        width: 150px;
        bottom: 27rem;
        left: 11rem;
        z-index: 0;
    }
    
}